body {
    margin: 0px;
    padding: 0px;
    background-color: black;
    font-family: monospace;
}

#game {
    width: 100%;
    height: 100%;
}

.hud {
    position: absolute;
    top: 0px;
    left: 0px;
    color: white;
    font-family: monospace;
    width: 100%;
    height: 100%;
}

.hud .score {
    top: 4px;
    left: 4px;
}

.menu {
    position: absolute;
    border-radius: 4px;
    top: 50%;
    left: 50%;
    min-width: 300px;
    border: solid 1px white;
    text-align: center;
    color: white;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 12pt;
    background-color: #111;
    padding: 16px;
}

.menu p {
    margin: 8px;
    max-width: 300px;
    margin: auto;
}
.menu img {
    margin: 8px;
}

.menu button {
    background-color: black;
    border: 1px solid white;
    border-radius: 4px;
    margin: 4px;
    cursor: pointer;
    color: white;
}
.menu button:hover {
    background-color: #333;
}

#overlay2d {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}